services:
  trawler:
    image: ncr.sky.nhn.no/team-krypto/trawler:v0.1.1
    #build: .
    container_name: trawler
    env_file:
      - .env
    volumes:
      - ./config.yaml:/config/configuration.yaml
      - trawler-data:/data:z
      - ./git:/git
    restart: unless-stopped
    networks:
      - default
    ports:
      - "8080:8080"
    command: ["./trawler-app"]
  s3:
    image: ncr.sky.nhn.no/dockerhub/minio/minio:RELEASE.2024-12-13T22-19-12Z
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-data:/data
      - minio-config:/root/.minio
    ports:
      - "9000:9000"
      - "9001:9001"
      - "9002:9002"
    command: ["server", "/data", "--console-address", ":9001"]
    networks:
      - default
    restart: unless-stopped

networks:
  default:
    driver: bridge

volumes:
  minio-data:
  minio-config:
  trawler-data: